@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    text-align: center;
    padding: 0.625em;
    color: white;
}


body {
    background-image: linear-gradient(to right, #8a2be2, #aa7cd4);
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 18.75em;
}

td {
    border: 0.063em solid black;
    padding: 0.625em;
    text-align: center;
    vertical-align: center;
    background-color: #fff;
}


footer {
    text-align: center;
    padding: 0.625em;
    color: white;
}