@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    tudo quem em HTML é class em CSS é .
*/

body {
    background-color: rgb(111, 149, 219);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(11, 11, 110);
}

h1#principal {
    text-align: center;
    background-color: rgb(11, 11, 110);
    color: white;
}

h2 {
    color: rgb(18, 44, 92);
}