@charset "utf-8";

/* Estilos para Impressão */


* {
    margin: 0.625em;
    padding: 0.625em;
    box-sizing: border-box;
}


html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.em;
    line-height: 1.5em;
}


nav {
    display: none;
}


main {
    width: 100%;
}


article::after{
    content: 'Este artigo foi impresso através do site www.hbraga.com.br';
}