@charset "utf-8";


body {
    background-image: url(/imagens/back-pc.jpg);
}


.grupo-imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#desktop {
    display: block;
}


#phone, #tablet, #print, #televisores {
    display: none;
}