 @charset "UTF-8";


 /* Configurações Gerais (Mobile First) */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
 }


 html {
    height: 100vh;
 }


 body {
    background: #000 url(/imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
 }


 main {
    background-color: #ffffff7a;
    width: 25em;
    margin: auto;
    margin-top: 1.25em;
    border-radius: 0.625em;
    padding: 0.625em;
}


h1 {
    text-align: center;
    color: #fff;
    font-size: 2em;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.363);
}


.grupo-imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#tablet, #print, #desktop, #televisores {
    display: none;
}